{# Footer #}

<footer class="container-fluid py-4 my-4 border-top ">
	<div class="row">
		<section class="col">
			<h5>SERVICIOS</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Contacta con nosotros</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Garantías y Devoluciones</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Financia tus compras</a>
				</li>
			</ul>
		</section>
		<section class="col">
			<h5>INFORMACIÓN</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">¿Quienes somos?</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Donde estamos</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Formas de pago</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Política de cookies</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Política de privacidad</a>
				</li>
			</ul>
		</section>
		<section class="col">
			<h5>REDES SOCIALES</h5>
			<ul class="list-unstyled d-flex">
				<li class="ms-3">
					<a class="link-dark" href="#"><img class="bi" src="{{ asset('images/iconos/facebook.png') }}"></a>
				</li>
				<li class="ms-3">
					<a class="link-dark" href="#"><img class="bi" src="{{ asset('images/iconos/twitter.png') }}"></a>
				</li>
				<li class="ms-3">
					<a class="link-dark" href="#"><img class="bi" src="{{ asset('images/iconos/instagram.png') }}"></a>
				</li>
			</ul>
		</section>
	</div>
	<div class="row border-top">
		<p>&copy; 2022 PCInformática, Inc. All rights reserved.</p>
	</div>
</footer>
