<h1>Hola! por favor, confirme su correo electrónico.!</h1>

<p>
    Confirme su dirección de correo electrónico haciendo clic en el siguiente enlace: <br><br>
    <a href="{{ signedUrl }}">Confirmar mi correo electrónico</a>.
    Este enlace expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    ¡Saludos!
</p>
