<header>
	<nav class="navbar shadow-1 primary">

		<button data-target="example-sidenav" class="btn rounded-1 press amaranth dark-1 hide-md-up">
			Gestiones
		</button>

		<div class="navbar-menu ml-auto">
			<a target="_blank" class="navbar-brand">Zona admin</a>
		</div>


	</nav>
</header>










    


